/* General body styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Game Mode Selector */
#gameModeSelector {
    margin: 20px;
}

/* Style for the game area */
#play-area {
    text-align: center;
    display: none; /* Hidden until the game starts */
}

/* Style for the timer */
#timer {
    font-size: 24px;
    color: gray;
    text-align: center;
    margin-top: 20px;
}

/* Style for the typing box */
#typedText {
    font-family: 'Courier New', monospace;
    font-size: 18px;
    color: gray;
    padding: 10px;
    margin-top: 20px;
    width: 80%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
}

/* Style for the input box */
#typingInput {
    font-size: 18px;
    padding: 10px;
    width: 80%;
    margin-top: 20px;
    resize: none;
    display: block;
    margin: 0 auto;
}

/* Add a style for correct and incorrect text */
.correct {
    color: green;
}

.incorrect {
    color: red;
}

.letter {
    display: inline-block;
    width: 20px;  /* Adjust this value to make sure letters fit */
    text-align: center;
}

/* Style for buttons */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Style for the leaderboard and nickname input */
#leaderboard {
    margin-top: 30px;
    width: 80%;
    text-align: left;
    font-size: 16px;
    max-height: 300px;
    overflow-y: scroll;
}

/* Hide elements initially */
#nickname-container {
    display: none;
    margin-top: 20px;
}
